@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.authentication form {
  border: 1px dashed #ff7f7f;
  border-radius: 40px;
  padding: 35px 40px;
  width: 30vw;
}

.authentication_border {
  border-radius: 40px;
  padding: 35px 40px;
  background: #fee8eb;
  box-shadow: -4px 4px 25px #cccccc;
}

#navbar-dropdown::after {
  display: none !important;
}

.authentication h5 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 35px;
}

.authentication button {
  width: 100%;
  background-color: #ff7f7f !important;
  border: none;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.footer-image {
  padding-top: 100px;
}

.icons {
  list-style: none;
  padding: 0;
  width: 100%;
}

.icons li a {
  color: #6e6e6e;
  text-decoration: none;
  margin-right: 10px;
}

.nav_bar {
  flex-direction: column !important;
}

.category {
  margin-top: 63px;
}

.head {
  font-family: 'Times New Roman', Times, serif !important;
}

.filters {
  list-style: none;
  padding: 0;
}

.filters li {
  text-decoration: none;
  margin-left: 10px;
  color: #1c1c1c;
  padding: 2px 5px;
  display: block;
  cursor: pointer;
  position: relative;
}

.filters li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #d76957;
  transition: transform .3s, width .3s;
  transform-origin: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.filters li:hover::after:not(.active) {
  width: 100%;
  transform: translateX(-50%);
}

.filters li.active {
  color: #d76957 !important;
  border-bottom: 2px solid #d76957;
}

/* admin dashboard */
.sidebar-main {
  position: fixed !important;
  top: 0;
  width: 240px !important;
  min-width: 60px !important;
  overflow: hidden;
  transition: width 0.3s ease !important;
  background: #f8f9fa;
}

#sidebar-collapese {
  width: 60px !important;
}

.box-data {
  position: relative;
  float: right;
  width: calc(100% - 240px);
  transition: width 0.3s ease !important;
  min-height: 100vhh;
}

.content {
  padding: 10px;
  min-height: 100vh;
  padding-top: 65px;
  background: white;
}

.admin-navbar {
  position: fixed;
  width: -webkit-fill-available !important;
  z-index: 10 !important;
}

.f-card-tittle {
  font-size: 30px;
  font-weight: 500;
}

.sub-tittle {
  margin-left: 48px;
  font-size: 15px;
  color: #0a0a0a;
  font-weight: 700;
}

.piechart {
  height: 300px;
  width: auto;
  float: right;
}

.chart-container .chartjs-render-monitor ul.legend-list li span.chart-legend {
  width: 8px !important;
  height: 8px !important;
}

.qty-div {
  font-size: 13px;
  color: #565959;
  padding: 5px 7px;
  text-align: center;
  border-radius: 7px;
  box-shadow: #63636333 0px 2px 8px 0px;
}

.qty-div .mius,
.qty-div .plus {
  cursor: pointer;
}

/* progressbar  */
#steps {
  display: flex;
  justify-content: space-around;
}

#steps .step {
  border: 4px solid rgb(253, 161, 161);
  border-radius: 50%;
  padding: 15px 23px;
  position: relative;
}

#steps .step:not(:last-child)::after {
  content: '';
  width: 0px;
  height: 7px;
  display: block;
  left: 57px;
  top: 25px;
  position: absolute;
  background: red;
  border-radius: 7px;
}

.pricingInputContainer {
  display: flex;
  flex-wrap: wrap;
}

.pricingInputContainer .price-inputContainer {
  flex: 1 0 calc(33.33% - 10px);
  margin: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}

.add-model-head {
  text-transform: capitalize;
  background: #f0f2f2;
  padding: 16px 24px;
  border-radius: 7px 7px 0 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 600;
}

.add-model-form {
  width: 100% !important;
}

.model-body input {
  color: #0f1111;
  border: 1px solid #888C8C !important;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(15, 17, 17, .15) inset !important;
  outline: 0 !important;
  height: 14px;
}

.model-body .MuiInputBase-adornedStart {
  border: 1px solid #888C8C !important;
  color: #0f1111;
  border-collapse: collapse;
}

.model-body #demo-select-small {
  border: 1px solid #888C8C !important;
  height: 14px;
  padding: 5px 15px;
}

.stored-address,
.stored-card {
  height: 70px;
  background-color: #FCF5EE;
  border: 1px solid #FBD8B4;
  border-radius: 5px;
  padding: 9px;
  margin-bottom: 10px;
}

.stored-card {
  height: 35px !important;
  padding: 0 9px;
}

.chekout-box {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.step-label {
  font-size: 27px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step-change {
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  color: blue;
  cursor: pointer;
  margin-right: 45px;
}

.edit-add-btn a {
  text-decoration: none;
  vertical-align: middle;
}

.checkout-items {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.other-features {
  font-size: 12px;
  margin: 0;
}

/* review page  */
.ratings {
  font-size: 32px;
  font-weight: 700;
  color: rebeccapurple;
}

.rate-msg {
  font-size: 14px;
}

.this-week {
  background-color: #6633992e;
  margin-right: auto;
  color: rebeccapurple;
  width: fit-content;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.progress {
  height: 7px !important;
  background: #90949d !important;
}

.progress .progress-bar {
  min-height: 0 !important;
  animation: progressBar linear 1s;
  background: rebeccapurple;
}

.progressbar-span {
  width: 55%;
}

.static {
  font-size: 28px;
  font-weight: 700;
  color: #90949d;
}

@keyframes progressBar {
  from {
    width: 0;
  }

  to {
    max-width: 100%;
    /* or any desired width value */
  }
}

.reviwchart {
  height: 200px;
  width: 200px;
}

.review-statistic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* logistic page  */
.orders_statics {
  width: 25%;
  justify-content: space-around;
}

.orders_statics:not(:last-child) {
  border-inline-end: 2px solid #ccc;
}

.order-status {
  color: #1c1c1c;
  font-weight: 500;
}

.content-night .order-status {
  color: #ccc !important;
}

.order-track-no {
  font-size: 28px;
  color: rebeccapurple;
  font-weight: 700;
}

.order-status-icon {
  color: #767676;
  font-size: 30px;
}

/* order details page for vendor and admin  */
.order-details {
  width: 100%;
  table-layout: auto;
}

.content-night .order-info span {
  color: #ddd !important;
}

.orderTable thead {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
}

.orderTable thead th {
  padding: 12px;
  border-collapse: collapse;
}

.orderTable tbody td {
  padding: 15px;
  border-collapse: collapse;
  border-bottom: 1px solid #ccc;
}

.orderTable tbody tr:hover {
  background: #e4e3e3;
}

.content-night .orderTable thead {
  border-top: none;
}

.main-status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
}

.status-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}

.Ttimeline-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: red;

}

.main-status .status-1:not(:last-child) .Ttimeline-dot::after {
  content: "";
  position: relative;
  display: block;
  width: 2px;
  height: 66px;
  left: 3.7px;
  background: red !important;
}

.T-timeline-Status {
  width: 65%;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.T-timeline-Status span:nth-child(2) {
  color: #565959;
  font-size: 12px !important;
  font-weight: normal !important;
}

.track-date {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  text-transform: capitalize;
  width: 30%;
  text-align: end;
}

.order-cart {
  font-size: 19px;
  background: #dcf6e8;
  color: #28c76f;
  border-radius: 50%;
  height: 35px;
  display: block;
  width: 35px;
  text-align: center;
}

.order-cart svg {
  vertical-align: bottom;
}

/* add proguct page  */
.css-b62m3t-container {
  width: 15vw;
  margin-right: 15px;
}

.categoryName {
  width: 100%;
  z-index: 1;
}

.table-input {
  border: none !important;
  width: 100%;
  height: 100%;

}

.insert-image-container {
  height: 300px;
  width: 300px;
  color: #7a7a7a;
  border: 3px dashed #a9a3a3;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.image-input {
  vertical-align: middle;
  visibility: hidden;
  cursor: pointer;
}

.image-input::before {
  content: '+';
  visibility: visible;
  font-size: 50px;
  position: relative;
  left: 40%;
  top: 11px;
  border: 2px dashed currentColor;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  height: 290px;
  width: 300px;
  object-fit: contain;
  border-radius: 25px;
}

.close-button {
  position: absolute;
  top: -5px;
  right: 0%;
  font-size: 24px;
  cursor: pointer;
}

.content-night select,
.content-night option {
  background: #0c1220 !important;
  color: #fcfcfc !important;
  border: currentColor;
}

.content-night option:checked,
option:hover {
  background-color: #fcfcfc !important;
  color: #000 !important;
}


/* setting */
.setting-list-group {
  padding: 0;
  list-style: none;
}

.setting-list-group li {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  text-transform: capitalize;

}

.shareWith .active .shareWith-icon{
color: #999797;
}
.modal{
  z-index: 1050;
}
.modal-backdrop {
  z-index: 1040;
}

/* shiping rate table  */
.shipRates-Table {
  table-layout: fixed;
  border: 1px solid #d3d3d3;
  width: 100%;
  text-transform: capitalize;
  border-collapse: collapse;
  text-align: center;
}

.shipRates-Table thead th,
.shipRates-Table tbody td {
  font-size: 13px;
  padding: 5px 7px;
  font-weight: 600;
  border: 1px solid #d3d3d3;
}

.shipRates-Table tbody td {
  padding: 20px 5px;

}

.setting-list-group .active {
  color: white;
  background: rgb(62, 45, 104);
  background: linear-gradient(163deg, rgba(62, 45, 104, 1) 42%, rgba(105, 86, 153, 1) 64%, rgba(120, 103, 167, 1) 100%);
  border-radius: 11px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.store form label,
form label {
  text-transform: capitalize;
}

/* coupans section*/
.cupons-button button:active {
  transform: translate(1px, 0.5px);
  box-shadow: none;

}

.cupons-button {
  height: 40px;
  margin-bottom: 10px;
}

.cupons-button button {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.subtag {
  font-size: 12px;
  margin: 0;
  text-transform: capitalize;
}

.cupon-item {
  border-bottom: 2px dashed #ddd;
  position: relative;
}

.cupon-item::after {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  bottom: -10px;
  right: -22px;
}

.cupon-item::before {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  bottom: -10px;
  left: -17px;
}

.content-night .cupon-item::before,
.content-night .cupon-item::after {
  background: #1b2230
}

.content-night .store input {
  background: #0c1220;
  border: none;
}

.content-night .setting-list-group .active {
  box-shadow: none;
}

/* seller page  */
.show-Pass {
  position: absolute;
  top: 50%;
  right: 9px;
}

.change-password .change-input {
  width: 49%;
  position: relative;
}

.content-night .muted-text {
  color: #9d9d9d !important;
}

.content-night .this-week {
  background-color: #6a2fa5a8;
  color: #c3a6e1;
}

.seller-status {
  background-color: #dcf6e8 !important;
  color: #40cd7f !important;
}

.content-night .seller-status,
.content-night .order-cart {
  background-color: #2d4b4f !important;
}

.content-night .order-cart svg {
  color: #40cd7f !important;
}

.cuopens-switch {
  position: absolute;
  right: 0;
  top: 0;
}

.cuopens-switch input {
  cursor: pointer;
}

.content-night .cuopens-switch input {
  background-color: #91959e !important;
}

.single-page-imge-view {
  margin: 10px;
  border-radius: 7px;
  cursor: pointer;
}

.single-page-imgcollect .active {
  border: 2px solid #989898;
}

.hover-mouse {
  position: absolute;
  background-color: #e3e3e363;
  height: 120px;
  width: 240px;
}

.zoomin-img {
  max-height: 266px;
  overflow: hidden;
  position: relative;
  top: 25%;
  width: 100%;
  height: 100vh;
  background: #fff;
}

.zoomimg-partent {
  max-height: 226px;
  height: 100vh;
  position: absolute;
  left: 100%;
  width: 100%;
}

.zoomin-img img {
  position: absolute;
  height: 258%;
  width: 146%;
}

.star-contain {
  background: green;
  color: white;
  padding: 0 3px 0 5px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  width: 45px;
  align-items: center;
}

.deals-span {
  background: #cc0c39;
  border-radius: 7px;
  padding: 4px 8px;
  font-size: 13px;
}

.rs-symbols {
  font-size: 18px;
}

.sizetab {
  background-color: #f5f5f5;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin: 7px;
}

.sizetab:not(.active):hover,
.sizetab:is(.active) {
  border: 1px solid #ccc;
  margin: 6px;
}

.discriptions {
  height: 540px;
  overflow-y: auto;
}

.custom-next-arrow,
.custom-prev-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 20px;
  background: #fff;
  border: 1px solid #ccb0a3;
  width: fit-content;
  z-index: 1;
  cursor: pointer;
}

.custom-prev-arrow {
  left: 0;
  top: 40%;
}

.custom-next-arrow {
  right: 0;
  top: 40%;
}

.other-options {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.other-options a {
  color: #000;
  text-decoration: none;
}

.other-options a:hover {
  text-decoration: underline;
}

.reviews .slick-current .card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.review-progressbar {
  width: 70%;
}

.review-progressbar .progress {
  background: #fff !important;
  height: 18px !important;
}

.review-progressbar .progress .progress-bar {
  background: #f7ac03 !important;
}

.review-file-image {
  visibility: hidden;
  cursor: pointer;
}

.review-file-image::before {
  content: " ";
  height: 10%;
  width: 50%;
  display: block;
  background-color: transparent;
  visibility: visible;
  position: absolute;
  right: 25%;
  border-radius: 7px;
  z-index: 1;
}

.add-imagebtn {
  position: absolute;
  right: 25%;
  width: 50% !important;
}

/* productdetails  */
.detailspan {
  background-color: #dcf6e8;
  color: #40cd7f;
  padding: 2px 7px;
  border-radius: 20px;
}

.selectCategoroy:hover {
  text-decoration: underline !important;
}

.delete_Buton:hover,
.deactive_active_Buton:hover {
  color: #ec4242 !important;
  font-size: 28px;
}

.active_Buton:hover {
  color: #26c126 !important;
  font-size: 28px;
}

.approve_Buton:hover {
  color: #2c4c95 !important;
  font-size: 28px;
}

.content-night .selectCategoroy {
  color: #ccc !important;
}

.searchCategoryIcon {
  position: absolute;
  top: 6px;
  left: 9px;
}

.seacrhCategory_input {
  width: 50% !important;
  box-shadow: none !important;
  padding-left: 39px !important;
}

.seacrhCategory_input:focus+.searchCategoryIcon {
  color: #86b7fe;
}

.deactiveFilter {
  fill: #ccc;
  cursor: pointer;
}

.activeFilter {
  cursor: pointer;
}

.overlap {
  height: 100%;
  width: 100%;
  background: #ebebeb24;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.fadeloader {
  position: absolute;
  top: 50%;
  left: 58%;
}

.category-DropDwon,
.subcategory-DropDwon,
.product-DropDwon {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-transform: capitalize;
  position: absolute;
  top: 45px;
  padding: 10px 0px;
  max-height: 150px;
  width: 250px;
  border-radius: 5px;
  overflow-y: auto;
  background: #fff;
}

.subcategory-DropDwon {
  left: 265px;
}

.product-DropDwon {
  left: 530px;
}

.category-DropDwon div:hover,
.subcategory-DropDwon div:hover,
.product-DropDwon div:hover {
  background: #f1f1f1;
  cursor: pointer;
}

.category-DropDwon .active,
.subcategory-DropDwon .active,
.product-DropDwon .active {
  background: #362465 !important;
  color: #f1f1f1;
  cursor: pointer;
}

.add-product-head ul {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  padding: 0px 10px;
}

.add-product-head ul li {
  cursor: pointer;
  padding: 16px 50px;
  border-bottom: 1px solid #ccc;
  border-radius: 7px 7px 0 0;
}

.add-product-head ul .active {
  box-shadow: inset -14px -7px 17px -12px rgba(1, 0, 0, 0.041), inset 7px 0px 15px -4px rgba(0, 0, 0, 0.048);
  border-top: 1px solid #ccc !important;
  border-right: 1px solid #ccc !important;
  border-bottom: 0px solid #ccc !important;
  border-left: 1px solid #ccc !important;
}

/* variant table  */
.variantCategoryTable thead tr th:not(:last-child),
.variantCategoryTable tbody tr td:not(:last-child) {
  border-right: 1px solid #ccc;
}

.variantCategoryTable thead tr th {
  padding: 15px;
  text-align: center;
}

.Listing-img-uploader::-webkit-file-upload-button {
  visibility: hidden;
}

.Listing-img-uploader {
  color: #ddd;
  height: 200px;
  background: transparent !important;
  position: relative;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.content-night .Listing-img-uploader {
  color: #0c1220;
  background: transparent !important;
}

.content-night .image-uploder-custom {
  background: #0c1220;
}

.image-uploder-custom {
  position: relative;
  background: #ddd;
  height: 200px;
}
#img-close-icon{
  position: absolute;
  top: -17px;
  right: 0;
  left: 93%;
  font-size: 26px;
  color: #000;
  cursor: pointer;
}
.content-night #img-close-icon{color: #ddd;}
.image-uploder-custom img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.image-uploder-custom span {
  position: absolute;
  top: 6%;
  left: 25%;
  font-size: 120px;
  color: #ccc;
}

.content-night .image-uploder-custom span {
  color: #1a202e;
}
.image-validation{
  /* z-index: 100; */
  margin: 31px opx;
  position: absolute;
  bottom: 27%;
  background-color: antiquewhite;
  left: 25%;
  width: 135px;
}